<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger les URLs avec slash en fin sauf dossier
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Rediriger toutes les requêtes vers index.php sauf fichiers/dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Autoriser l'en-tête Authorization pour certains APIs
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
